<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        th:with="activeTab='MASTER_KATEGORI'">

<head>
    <div layout:fragment="customCss"></div>
</head>
<body>
<div layout:fragment="mainContent">
    <div class="row mt-3">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Form Input</div>
                    <hr>
                    <form th:object="${kategori}" th:action="@{/master/kategori/form}" method="post">
                        <input type="hidden" th:field="*{id}">
                        <div class="form-group">
                            <label>Nama *</label>
                            <input type="text" class="form-control" th:field="*{nama}"
                                   placeholder="Masukan nama kategori" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label>Deskripsi</label>
                            <input type="text" class="form-control" th:field="*{deskripsi}"
                                   placeholder="Masukan deskripsi kategori" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-light px-5">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!--End Row-->
</div>
</body>
</html>
