<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Monitoring Gudang</title>
    <!-- loader-->
    <link th:href="@{/assets/css/pace.min.css}" rel="stylesheet"/>
    <script th:src="@{assets/js/pace.min.js}"></script>
    <!--favicon-->
    <link rel="icon" th:href="@{/assets/images/favicon.ico}" type="image/x-icon">
    <!-- Vector CSS -->
    <link th:href="@{/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css}" rel="stylesheet"/>
    <!-- simplebar CSS-->
    <link th:href="@{/assets/plugins/simplebar/css/simplebar.css}" rel="stylesheet"/>
    <!-- Bootstrap core CSS-->
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- animate CSS-->
    <link th:href="@{/assets/css/animate.css}" rel="stylesheet" type="text/css"/>
    <!-- Icons CSS-->
    <link th:href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css"/>
    <!-- Sidebar CSS-->
    <link th:href="@{/assets/css/sidebar-menu.css}" rel="stylesheet"/>
    <!-- Custom Style-->
    <link th:href="@{/assets/css/app-style.css}" rel="stylesheet"/>
</head>
</html>