<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="leftmenu-kategori">
    <div class="component-item">
        <label>Master Kategori</label>
        <nav class="nav flex-column">
            <a th:href="@{/master/kategori}" class="nav-link"
               th:classappend="${activeTab == 'MASTER_KATEGORI_LIST' ? 'active' : null }">Data Kategori</a>
            <a th:href="@{/master/kategori/form}" class="nav-link"
               th:classappend="${activeTab == 'MASTER_KATEGORI_FORM' ? 'active' : null }">Form Input</a>
        </nav>
    </div><!-- component-item -->
</div>
</body>
</html>
