<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        th:with="activeTab='DASHBOARD'">

<head>
    <div layout:fragment="customCss"></div>
</head>
<body>
<div layout:fragment="mainContent">
    <div class="az-dashboard-one-title">
        <div>
            <h2 class="az-dashboard-title">Hi, welcome back!</h2>
            <p class="az-dashboard-text" th:if="${userLoggedIn}" th:text="${userLoggedIn.fullname}"></p>
        </div>
        <div class="az-content-header-right">
            <div class="media">
                <div class="media-body">
                    <label>Date</label>
                    <h6 th:text="${#temporals.format(dateNow, 'dd-MM-yyyy')}"></h6>
                </div><!-- media-body -->
            </div><!-- media -->
        </div>
    </div><!-- az-dashboard-one-title -->

    <span sec:authorize="hasAnyRole('ROLE_VIEW_PEMINJAMAN_ADMIN')">
        <p class="mg-b-20"></p>
        <p class="mg-b-20"></p>
        <canvas id="my-chart"></canvas>
        <p class="mg-b-20"></p>

        <div class="az-content-label mg-b-5">5 Data Peminjaman terakhir</div>
        <p class="mg-b-20"></p>

        <div class="table-responsive">
            <table class="table table-bordered table-hover mg-b-0">
                <thead>
                <tr>
                    <th>Tanggal</th>
                    <th>Code</th>
                    <th>Nama</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="data : ${datas}">
                    <td th:text="${#temporals.format(data.tanggal, 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${data.code}"></td>
                    <td th:text="${data.nama}"></td>
                    <td th:if="${#strings.equalsIgnoreCase(data.status, 'APPROVED')}">
                        <span class="badge badge-pill badge-info">DI SETUJUI</span>
                    </td>
                    <td th:if="${#strings.equalsIgnoreCase(data.status, 'ON_GOING')}">
                        <span class="badge badge-pill badge-primary">SEDANG BERLANGSUNG</span>
                    </td>
                    <td th:if="${#strings.equalsIgnoreCase(data.status, 'EXPIRED')}">
                        <span class="badge badge-pill badge-secondary">KADALUARSA</span>
                    </td>
                    <td th:if="${#strings.equalsIgnoreCase(data.status, 'REJECTED')}">
                        <span class="badge badge-pill badge-danger">DI TOLAK</span>
                    </td>
                    <td th:if="${#strings.equalsIgnoreCase(data.status, 'DONE')}">
                        <span class="badge badge-pill badge-success">SELESAI</span>
                    </td>
                    <td style="width:10%">
                        <a th:href="@{/peminjaman/detail(id=${data.id})}" title="Detail"><i
                                class="typcn typcn-eye-outline"></i></a>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(datas)}">
                    <td colspan="5" class="text-center">Belum ada data</td>
                </tr>
                </tbody>
            </table>
        </div><!-- table-responsive -->
    </span>

    <p class="mg-b-20"></p>
    <p class="mg-b-20"></p>
    <p class="mg-b-20"></p>
    <div class="az-content-label mg-b-5">Data Alat Kerja</div>
    <p class="mg-b-20"></p>

    <div class="table-responsive">
        <table class="table table-bordered table-hover mg-b-0">
            <thead>
            <tr>
                <th>Kategori</th>
                <th>Alat Kerja</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data : ${alatkerjas}">
                <td th:text="${data.kategori.nama}"></td>
                <td th:text="${data.nama}"></td>
                <td th:if="${#strings.equalsIgnoreCase(data.status, 'USED')}" class="text-danger">Tidak Tersedia</td>
                <td th:if="${#strings.equalsIgnoreCase(data.status, 'NOT_USED')}" class="text-success">Tersedia</td>
            </tr>
            <tr th:if="${#lists.isEmpty(alatkerjas.content)}">
                <td colspan="3" class="text-center">Belum ada data</td>
            </tr>
            </tbody>
        </table>
    </div><!-- table-responsive -->
    <div style="margin-top:10px;">
        <nav aria-label="Page navigation example">
            <ul th:if="${not #lists.isEmpty(alatkerjas.content)}" class="pagination pagination-sm m-0"
                sd:pagination="full"></ul>
        </nav>
    </div>
</div><!-- row -->
<div layout:fragment="customJavascript">
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {

            const url = 'http://localhost:8080/peminjaman/countStataus';
            const status = [];
            const totals = [];

            async function getRangking() {
                const response = await fetch(url);
                const data = await response.json();

                for (var i = 0; i < data.length; i++) {
                    const obj = data[i];
                    status.push(obj.status);
                    totals.push(obj.total);
                }
            }

            async function myChart() {
                await getRangking();
                const canvastElement = document.getElementById("my-chart");
                const config = {
                    type: "bar",
                    data: {
                        labels: status,
                        datasets: [
                            {
                                label: "# Total Status Peminjaman",
                                data: totals,
                                backgroundColor: "#292571",
                                borderColor: "#292571",
                            }
                        ]
                    }
                };
                const cookieChart = new Chart(canvastElement, config);
            }

            myChart();
        });









    </script>
</div>
</body>
</html>
