<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        th:with="activeTab='DASHBOARD'">

<head>
    <div layout:fragment="customCss"></div>
</head>
<body>
<div layout:fragment="mainContent">
    <div class="az-content-breadcrumb">
        <span>Dashboard</span>
    </div>
    <div class="az-content-title">
        <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${successMessage}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${errorMessage}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="az-content-label mg-b-5">Form Input</div>
    <!--    <p class="mg-b-20">Below is the basic bar chart example.</p>-->
</div>
</body>
</html>
