<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <div th:include="fragments/head :: head" th:remove="tag">Head</div>
    <div layout:fragment="customCss" th:remove="tag"></div>
</head>
<body>

<div class="az-header">
    <div class="container">
        <div class="az-header-left">
            <a th:href="@{/}" class="az-logo"><span></span>
                <img th:src="@{/assets/images/kai-logo.png}" class="rounded" alt="logo"
                     style="width: 100%; height: 20px;">
            </a>
            <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
        </div><!-- az-header-left -->
        <div class="az-header-menu">
            <div class="az-header-menu-header">
                <a href="index.html" class="az-logo"><span></span> azia</a>
                <a href="" class="close">&times;</a>
            </div><!-- az-header-menu-header -->
            <div th:include="fragments/nav-menu :: nav-menu" th:remove="tag">nav-menu</div>
        </div><!-- az-header-menu -->
        <div class="az-header-right">
            <div class="dropdown az-header-notification">
                <a href="" class="new"><i class="typcn typcn-bell"></i></a>
                <div class="dropdown-menu">
                    <div class="az-dropdown-header mg-b-20 d-sm-none">
                        <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                    </div>
                    <h6 class="az-notification-title">Notifications</h6>
                    <p class="az-notification-text">You have 2 notification</p>
                    <div class="az-notification-list">
                        <div class="media new">
                            <div class="az-img-user"><img th:src="@{/assets/images/admin-foto.png}" alt=""></div>
                            <div class="media-body">
                                <p>Congratulate <strong>Socrates Itumay</strong> for work anniversaries</p>
                                <span>Mar 15 12:32pm</span>
                            </div><!-- media-body -->
                        </div><!-- media -->
                    </div><!-- az-notification-list -->
                    <div class="dropdown-footer"><a href="">View All Notifications</a></div>
                </div><!-- dropdown-menu -->
            </div><!-- az-header-notification -->
            <div class="dropdown az-profile-menu">
                <a href="" class="az-img-user"><img th:src="@{/assets/images/admin-foto.png}" alt=""></a>
                <div class="dropdown-menu">
                    <div class="az-dropdown-header d-sm-none">
                        <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                    </div>
                    <div class="az-header-profile">
                        <div class="az-img-user">
                            <img th:src="@{/assets/images/admin-foto.png}" alt="">
                        </div><!-- az-img-user -->
                        <h6 th:if="${userLoggedIn}" th:text="${userLoggedIn.fullname}"></h6>
                        <span th:if="${userLoggedIn}" th:text="${userLoggedIn.role.description}">Admin Gudang</span>
                    </div><!-- az-header-profile -->

                    <a href="" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My Profile</a>
                    <a href="" class="dropdown-item"><i class="typcn typcn-cog-outline"></i> Account Settings</a>
                    <form th:action="@{/logout}" method="post" id="logout">
                        <a href="#" onclick="logout()" class="dropdown-item"><i class="typcn typcn-power-outline"></i> Sign
                            Out</a>
                    </form>
                </div><!-- dropdown-menu -->
            </div>
        </div><!-- az-header-right -->
    </div><!-- container -->
</div><!-- az-header -->

<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">
        <div class="az-content-left az-content-left-components">
            <div th:if="${#strings.containsIgnoreCase(activeTab,'DASHBOARD')}"
                 th:include="fragments/leftmenu-dashboard :: leftmenu-dashboard" th:remove="tag">leftmenu-dashboard
            </div>
            <div th:if="${#strings.containsIgnoreCase(activeTab,'MASTER_KATEGORI')}"
                 th:include="fragments/leftmenu-kategori :: leftmenu-kategori" th:remove="tag">leftmenu-kategori
            </div>
            <div th:if="${#strings.containsIgnoreCase(activeTab,'MASTER_ALATKERJA')}"
                 th:include="fragments/leftmenu-alatkerja :: leftmenu-alatkerja" th:remove="tag">leftmenu-alatkerja
            </div>
            <div th:if="${#strings.containsIgnoreCase(activeTab,'PEMINJAMAN')}"
                 th:include="fragments/leftmenu-peminjaman :: leftmenu-peminjaman" th:remove="tag">leftmenu-peminjaman
            </div>
            <div th:if="${#strings.containsIgnoreCase(activeTab,'MASTER_KARYAWAN')}"
                 th:include="fragments/leftmenu-karyawan :: leftmenu-karyawan" th:remove="tag">leftmenu-karyawan
            </div>
        </div><!-- az-content-left -->
        <div class="az-content-body pd-lg-l-40 d-flex flex-column">
            <div layout:fragment="mainContent" th:remove="tag"></div>
            <hr class="mg-y-30">

            <div class="ht-40"></div>
            <div class="az-footer mg-t-auto">
                <div class="container">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © nusamandiri 2022</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Develop by Riski Galang Saputra</span>
                </div><!-- container -->
            </div><!-- az-footer -->
        </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->

<div th:include="fragments/javascript :: javascript" th:remove="tag">Javascript</div>
<div layout:fragment="customJavascript" th:remove="tag"></div>
</body>
</html>
